<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantilla/plantilla :: head">
		<title>Getting Started: Serving Web Content</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<header th:replace="plantilla/plantilla :: header"> </header>

		<main class="grey lighten-2">
			<div class="container z-depth-1 white"
					 style="margin-top: 4em; margin-bottom: 3em; padding: 1em 1em;">
				<!-- Tabla -->

				<table>
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Teléfono</th>
							<th>Tipo de documento</th>
							<th>Número de documento</th>
							<th>Ciudad</th>
							<th>Fecha de Nacimiento</th>
							<th>Email</th>
							<th>Usuario</th>
							<th>Password</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="person:${personas}">
							<td th:text="${person.id}"></td>
							<td th:text="${person.nombres}"></td>
							<td th:text="${person.apellidos}"></td>
							<td th:text="${person.telefono}"></td>
							<td th:text="${person.tipodocumento.nombre}"></td>
							<td th:text="${person.documento}"></td>
							<td th:text="${person.ciudad.nombre}"></td>
							<td th:text="${person.fechanacimiento}"></td>
							<td th:text="${person.email}"></td>
							<td th:text="${person.usuario}"></td>
							<td th:text="${person.password}"></td>
							<td><a class="btn">EDITAR</a></td>
						</tr>
					</tbody>

				</table>
				<!-- Fin de la tabla -->

			</div>
		</main>

		<div th:replace="plantilla/plantilla :: footer"></div>

	</body>
</html>



